@import 'styles/theme';

.btn {
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
  position: relative;
	padding: 7px 15px;
	background-color: $primary;
	border: 1px solid $primary;
	width: fit-content;

	&.complementary {
		background-color: $complementary-light;
		border: 1px solid $complementary-light;

		&:hover {
			color: $complementary-light;
			border: 1px solid $complementary-light;
		}
	}

	&.secondary_light {
		background-color: $secondary-light;
		border: 1px solid $secondary-light;

		&:hover {
			color: $secondary-light;
			border: 1px solid $secondary-light;
		}
	}

	&.secondary {
		background-color: $secondary;
		border: 1px solid $secondary;

		&:hover {
			color: $secondary;
			border: 1px solid $secondary;
		}
	}

	&.basic {
		background-color: transparent;
		color: $primary;
		border: 1px solid $primary;

		&.complementary {
			color: $complementary-light;
			border: 1px solid $complementary-light;
		}

		&.secondary_light {
			color: $secondary-light;
			border: 1px solid $secondary-light;
		}

		&.secondary {
			color: $secondary;
			border: 1px solid $secondary;
		}

		&:hover {
			background-color: $primary;
			color: $white;
			border: 1px solid $primary;

			&.complementary {
				background-color: $complementary-light;
				border: 1px solid $complementary-light;
			}

			&.secondary_light {
				background-color: $secondary-light;
				border: 1px solid $secondary-light;
			}
			
			&.secondary {
				background-color: $secondary;
				border: 1px solid $secondary;
			}
		}
	}
	 
	&.light {
		color: $primary;
		background-color: $white;
		border: 1px solid $primary-light;

		&:hover {
			color: $white;
			background-color: $primary;
			border: 1px solid $primary-light;
		}

		&.basic {
			background-color: transparent;
			color: $white;
			border: 1px solid $white;
	
			&:hover {
				background-color: $white;
				color: $primary;
				border: 1px solid $primary;
			}
		}
  }

	.arrow {
		transform: translateX(0);
		margin-left: .2rem;
		transition: transform 300ms ease-in-out;
		display: inline-block;
	}
	
  &:hover {
    color: $primary;
		background-color: $white;
		border: 1px solid $primary;

		.arrow {
			transform: translateX(3px);
		}
  }
}

.link {
  font-size: 1.3rem;
  line-height: 1.4rem;
  color: $primary;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
  position: relative;
  
	&.complementary {
		color: $complementary-light;

		&::before {
			background-color: $complementary-light;
		}
	}

	&.secondary_light {
		color: $secondary-light;

		&::before {
			background-color: $secondary-light;
		}
	}

	&.secondary {
		color: $secondary;

		&::before {
			background-color: $secondary-light;
		}
	}

	&.light {
		color: $white;
		
		&.complementary {
			&::before {
				background-color: $complementary-light;
			}
		}

		&.secondary_light {
			&::before {
				background-color: $secondary-light;
			}
		}

		&.secondary {
			&::before {
				background-color: $secondary-light;
			}
		}

		&::before {
			background-color: $primary-light;
		}
	}

  &::before {
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    position: absolute;
    background-color: $primary-light;
    transition: .2s;
    content: "";
    margin-right: auto;
  }

	.arrow {
		transition: translateX 300ms;
	}

  &:hover {
    color: $primary-light;

		&.complementary {
			color: $complementary-light;
		}

		&.secondary_light {
			color: $secondary-light;
		}

		&.secondary {
			color: $secondary-light;
		}

		.arrow {
			transform: translateX(20px);
		}

    &::before {
      width: 100%;
    }
  }
}