@import "styles/theme.scss";

.content_card {
	cursor: pointer;
	margin: 10px auto;
	transition: .2s;
	position: relative;
	width: 100%;
	height: calc(100% - 40px);
	border: 2px solid $white;
	color: $white;
	transition: .4s;
	transform: translateY(0);
	padding-bottom: 10px;
	background-color: $primary-dark;
	border-radius: 10px;
	
	h3, h4 {
		margin-bottom: 0;
	}

	p {
		color: $white;
		margin-bottom: 10px;
	}

	.inner {
		padding: 10px;
		height: 100%;

		.image {
			position: absolute;
		}
	}
	
	.l1 {
		position: absolute;
		height: 100%;
		width: 100%;

		&::before {
			height: 2px;
			width: 0;
			right: 2px;
			bottom: -2px;
			display: inline-block;
			position: absolute;
			transition: .3s .12s ease-in-out;
			content: "";
			margin-right: auto;
		}

		&::after {
			height: 0;
			width: 2px;
			left: -2px;
			bottom: -2px;
			display: inline-block;
			position: absolute;
			transition: .15s ease-in-out;
			content: "";
		}
	}

	.l2 {
		position: absolute;
		position: absolute;
		height: 100%;
		width: 100%;
		
		&::before {
			height: 2px;
			width: 0;
			left: 2px;
			top: -2px;
			display: inline-block;
			position: absolute;
			transition: .3s .12s ease-in-out;
			content: "";
			margin-right: auto;
		}

		&::after {
			height: 0;
			width: 2px;
			right: -2px;
			top: -2px;
			display: inline-block;
			position: absolute;
			transition: .15s ease-in-out;
			content: "";
		}
	}

	&:hover {
		border-color: transparent;
		box-shadow: 0 0 3px 1px rgba(0, 20, 32, .3), 8px 8px 4px 1px rgba(0, 20, 32, .3);
		transform: translateY(-2px);

		.l1 {
			&::before {
				width: 100%;
				transition: .15s ease-in-out;
			}

			&::after {
				height: 100%;
				transition: .3s .12s ease-in-out;
			}
		}
		
		.l2 {
			&::before {
				width: 100%;
				transition: .15s ease-in-out;
			}

			&::after {
				height: 100%;
				transition: .3s .12s ease-in-out;
			}
		}
	}

	.primary {
		&.l1 {
			&::before {
				background: linear-gradient(90deg, $primary 80%, transparent);
			}
		
			&::after {
				background: linear-gradient(transparent, $primary 70%);
			}
		}

		&.l2 {
			&::before {
				background: linear-gradient(-90deg, $primary 80%, transparent);
			}
		
			&::after {
				background: linear-gradient($primary 40%, transparent);
			}
		}
	}

	.complementary {
		&.l1 {
			&::before {
				background: linear-gradient(90deg, $complementary-light 80%, transparent);
			}
		
			&::after {
				background: linear-gradient(transparent, $complementary-light 70%);
			}
		}

		&.l2 {
			&::before {
				background: linear-gradient(-90deg, $complementary-light 80%, transparent);
			}
		
			&::after {
				background: linear-gradient($complementary-light 40%, transparent);
			}
		}
	}

	.secondary {
		&.l1 {
			&::before {
				background: linear-gradient(90deg, $secondary 80%, transparent);
			}
		
			&::after {
				background: linear-gradient(transparent, $secondary 70%);
			}
		}

		&.l2 {
			&::before {
				background: linear-gradient(-90deg, $secondary 80%, transparent);
			}
		
			&::after {
				background: linear-gradient($secondary 40%, transparent);
			}
		}
	}

	.white {
		&.l1 {
			&::before {
				background: linear-gradient(90deg, $white 80%, transparent);
			}
		
			&::after {
				background: linear-gradient(transparent, $white 70%);
			}
		}

		&.l2 {
			&::before {
				background: linear-gradient(-90deg, $white 80%, transparent);
			}
		
			&::after {
				background: linear-gradient($white 40%, transparent);
			}
		}
	}
}


@media screen and (min-width: 601px) {
	.content_card {
		margin: 20px auto;
		width: calc(100% - 30px);
	}
}
