@import 'styles/theme';

.contact_info {
	padding-top: 10px;
	
	.contact_link {
		padding: 5px 20px;
		cursor: pointer;

		&:hover {
			.contact_text {
				color: $grey;
			}
		}
		
		.icon_bubble {
			background-color: $grey-light;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			position: relative;
		}
	
		.contact_icon {
			padding: 5px;
			margin: 3px;
		}
	
		.contact_text {
			padding-left: 10px;
			font-size: 14px;
			margin: auto;
			color: $grey-dark;
			transition: .2s;
		}
	}
}
