.carousel_container {
	padding: 0 10px;
	max-width: 100%;
	overflow: hidden;
}

.carousel_image {
	width: calc(100% -20px);
	height: 200px;
	overflow: hidden;
	margin: 20px 10px;

	> img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		margin: auto;
		cursor: pointer;
		transition: .5s;
		transform: scale(1) translateY(0px);
	
		&:hover {
			transform: scale(1.3);
		}
	}
}

.modal_image {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}