@import "styles/theme.scss";

.calendar_icon {
	cursor: pointer;
}

.calendar_modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, .5);
	z-index: 1001;
	cursor: alias;
	
	.close_btn {
		position: absolute;
		right: 12px;
		top: 12px;
		width: 30px;
		height: 30px;
		background: $grey-light;
		border-radius: 50%;
		cursor: pointer;
		transition: .3s;

		&::before {
			content: "x";
			font-weight: bold;
			color: $primary-dark;
			font: $serif;
			font-size: 20px;
			line-height: 20px;
			position: absolute;
			left: 10px;
			top: 4px;
			transition: .25s;
		}
		
		&:hover {
			background: $grey-dark;

			&::before {
				color: $primary-light;
			}
		}
	}

	iframe {
		width: 100%;
		border-radius: 4px;
		height: 800px;
		max-height: calc(100vh - 40px);
	}
}