@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

$white: #fdfdff;
$grey: #eff2ef;
$grey-light: #D1CDC9;
$grey-dark: #544e49;
$black: #2B2825;

$primary: #0093EA;
$primary-light: #37b5ff;
$primary-dark: #003352;

$secondary: #12354c;
$secondary-light: #174d6d;
$secondary-dark: #0c2736;

$complementary: #FF8137;
$complementary-light: #FFA16C;
$complementary-dark: #D14D00;

$sans: 'Exo', sans-serif;
$serif: 'Roboto Slab', serif
